body {background-color: aquamarine;
}
h1 {color: blue
}
h2 {color: darkblue;
}
h1 {font-size: 500%;
}
h1 { text-align: center;
}

h2 {text-align: center;
}
#ima3 {width: 40%;
}
#ima1 {width: 40%;
}
#ima2 {width: 40%;
}
h4 {font-size: 200%;
}
h5 {font-size: 200%;
}
h6 {font-size: 200%;
}
h4 {text-align: center;
}
h5 {text-align: center;
}
h6 {text-align: center;
}
#ima1 {margin-left: 30%;
}
#ima2 {margin-left: 30%;
}
#ima3 {margin-left: 30%;}